.navbar {
  background-color: #343a40;
  padding: 10px 0;
  text-align: center;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  max-width: 900px;
  margin: auto;
  height: 37px;
}

.navbar-title {
  font-size: 22px;
  font-weight: 600;
  font-family: 'Segoe UI', sans-serif;
}
